/* GENERAL */
*{
  margin: 0px;
  box-sizing: border-box;
}

.contenubox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "gauche centre droite"
  "bas";
  width: 1000px;
  margin: 10px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: whitesmoke;
}

/*GAUCHE*/
.gauche{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 250px;
  height: 400px;
  float: letf;
  border-width: 3px 1px 3px 3px;
  border-style: solid ;
  border-color: black;
  padding: 0 10px;
  background-color: lightgrey;
}

.titre1{
    border-width: 3px 1px 1px 3px;
    border-style: solid ;
    border-bottom-color: lightgrey;
    border-right-color: lightgrey;
    border-left-color: black;
    border-top-color: black;
    padding: 0 10px;
    background-color: whitesmoke;
    margin: 0 0 1rem;
    font-size:  1rem;
    margin-bottom: .5rem;
    margin-top: 10px;
    color: black;
}

.texte1{
  text-align: left;
  font-family: Times New Roman;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
}

/*CENTRE*/
.centre{
  margin-left: -10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 500px;
  height: 450px;
  float: center;
  border-width: 3px 3px 3px 1px;
  border-style: dotted;
  border-color: mediumpurple;
  background-color: darkgrey;
}

.titre2{
    border-width: 3px 1px 1px 3px;
    border-style: solid ;
    border-color: lightgrey;
    padding: 0 10px;
    background-color: whitesmoke;
    margin: 0 0 1rem;
    font-size:  1rem;
    margin-bottom: .5rem;
    margin-top: 10px;
    color: black;
}

.textehaut{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: justify;
  border-width: 1px;
  border-style: solid;
  border-color: mediumpurple;
  background-color: darkgrey;
}

.textebas{
  text-align: center;
  border-width: 1px;
  border-style: dotted;
  border-color: mediumpurple;
  background-color: darkgrey;
}

/*DROITE*/
.droite{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  float: right;
  border-width: 3px 3px 3px 1px
  border-style: solid;
  border-color: greenyellow;
  background-color: lightgrey;
}

.texte2{
  text-align: right;
}

/*BAS*/
.bas{
  width: 100%;
  height: 700;
  float: bottom;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: lightgrey;
}