/* GENERAL */
*{
  margin: 0px;
  box-sizing: border-box;
}

/* TITRE */
h1{
  margin: 0 0 1rem;
  font-size:  2.5rem;
  margin-bottom: .5rem;
  color: black;
  margin: 0 0 1rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: whitesmoke;
}

/* BOITES DE TEXTES */
.gauche{
  border-width: 3px 3px 3px 1px;
  border-style: solid ;
  border-color: hotpink;
  padding: 0 10px;
  background-color: lightgrey;
}

.centre{
  border-width: 1px;
  border-style: dotted;
  border-color: mediumpurple;
  background-color: darkgrey;
}

.droite{
  border-width: 1px;
  border-style: solid;
  border-color: greenyellow;
  background-color: lightgrey;
}

.bas{
border-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: lightgrey;
}